# Local script
run.sh


# Visual Studio Code Settings
.vscode/*

# Pycharm settings
.idea

# virtual environments
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment Folders
.env/*
.env

# C extensions
*.so

# Flask stuff:
instance/
.webassets-cache

# Logs
*.log
*.log.[0-9]*
log/*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Celery
celerybeat-schedule
